.App {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

.title {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
  padding: 10px;

}


.text {
  padding: 20px;
  background: linear-gradient(90deg, #cfecd0, #ffc5ca);
  font-size: 1.5rem;
}

button {
  background: linear-gradient(#c6e4ee 0%, #c6e4ee 40%, #fed1ae 60%, #faa0b9 70%, #cb7dcb 80%, #757ecb 100%);
  width: 100%;
  height: 50px;
  font-size: 2rem;
  letter-spacing: 5px;
}

button:active {
  background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
}